    <!-- Page Sidebar Header-->
<div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">搜索</div>
</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> 仪表盘 </span>
        </a>
    </li>
     <li ui-sref-active="active">
        <a ui-sref="app.dlwzfb">
            <i class="menu-icon glyphicon glyphicon-equalizer"></i>
            <span class="menu-text"> 地理位置分布 </span>
        </a>
    </li>
</ul>
<!-- /Sidebar Menu -->
