<div class="login-container animated fadeInDown">
    <div class="loginbox bg-white">
        <div class="loginbox-title">登陆</div>
        <div class="loginbox-textbox">
            <input type="text" class="form-control" placeholder="邮箱" />
        </div>
        <div class="loginbox-textbox">
            <input type="text" class="form-control" placeholder="密码" />
        </div>
         <div class="loginbox-textbox">
            <input type="text" class="form-control" placeholder="验证码" />
        </div>
        <div class="loginbox-forgot">
            <a href="">忘记密码?</a>
        </div>
        <div class="loginbox-submit">
            <input type="button" class="btn btn-primary btn-block" value="登陆">
        </div>
    </div>
</div>